{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'js/Swiper/dist/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>

<body>
    <input id="maxAge" type="hidden" value="{{age}}">

    <div class="age">
        You are <span id="age"> 0 years </span> old
    </div>

    <div id="viewport">
        <ul class="stack">

        </ul>
    </div>

<div id="source" style="max-width:350px; text-align:center;">
<p style="text-align:center; display:inline-block">Drag the playing cards out of the stack and let go. Drag left to answer
    <span style="color:#FF6B6B;">no</span>, right to answer
    <span style="color:#4ECDC4;">yes</span>
</p>
    </div>

    <div id="modal">
        <h3 style="text-align:center;"> Here are some things about HIV and AIDS you should know!</h3>
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div id="swiper-wrapper" class="swiper-wrapper">
                <!-- Slides -->
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="{% static 'js/Swiper/dist/js/swiper.min.js' %}"></script>
<script src="{% static 'js/bundle.js' %}"></script>

</html>
